[submodule "lobbyserver"]
	path = lobbyserver
	branch = master
	url = git@github.com:minda-games/lobbyserver.git
[submodule "gameserver"]
	path = gameserver
	branch = master
	url = git@github.com:minda-games/gameserver.git
[submodule "client"]
	path = client
	branch = master
	url = git@github.com:minda-games/client.git
[submodule "chatbot"]
	path = chatbot
	branch = master
	url = git@github.com:minda-games/chatbot.git
[submodule "tslib"]
	path = tslib
	branch = master
	url = git@github.com:minda-games/tslib.git
[submodule "ai"]
	path = ai
	url = git@github.com:minda-games/ai.git
	branch = master
